@{
    ViewData["Title"] = "Crytal Eyes | Chi tiết đơn hàng";
    Layout = "_CustomerLayout";
}




<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/customer/profile" class="stext-109 cl8 hov-cl1 trans-04">
			Thông tin tài khoản
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/customer/historyorder" class="stext-109 cl8 hov-cl1 trans-04">
			Đơn hàng của bạn
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Chi tiết đơn hàng
		</span>
	</div>
</div>

<section class="intro p-t-65 p-b-60">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="card custom-rounded-s-small">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<thead>
									<tr>
										<th>Tên sản phẩm</th>
										<th>Ảnh</th>
										<th>Giá</th>
										<th>Số lượng</th>
										<th>Tổng giá</th>
									</tr>
								</thead>
								<tbody>

									@foreach(var item in ViewBag.OrderDetail as List<OrderDetailViewDto>)
									{
										<tr>
											<td>@item.Name</td>
											<td>
												<img class="wrap-pic-s size-109 bor0" src="@item.MainImage"
													 alt="AVATAR">
											</td>
											<td class="formatprice">@item.Price</td>
											<td>@item.Quantity</td>
											<td class="formatprice">@item.TotalPrice</td>
										</tr>
									}

								</tbody>
							</table>


							<div class="flex-l-m flex-w w-full p-t-10 m-lr--7 justify-content-center">
								<!-- Left Arrow for Previous Page -->
								@if (ViewBag.Paging.HasPreviousPage)
								{
									<a href="?category=@ViewBag.SearchCategory&menu=@ViewBag.Menu&price=@ViewBag.Price&sort=@ViewBag.Sort&color=@ViewBag.Color&pageIndex=@(ViewBag.Paging.PageIndex - 1)"
									   class="flex-c-m how-pagination1 trans-04 m-all-7">
										<i class="zmdi zmdi-arrow-left"></i>
									</a>
								}
								else
								{
									<span class="flex-c-m how-pagination1 trans-04 m-all-7">
										<i class="zmdi zmdi-arrow-left"></i>
									</span>
								}

								<!-- Page Numbers -->
								@for (int i = 1; i <= ViewBag.Paging.TotalPages; i++)
								{
									<a href="?category=@ViewBag.SearchCategory&menu=@ViewBag.Menu&price=@ViewBag.Price&sort=@ViewBag.Sort&color=@ViewBag.Color&pageIndex=@i"
									   class="flex-c-m how-pagination1 trans-04 m-all-7 @(i == ViewBag.Paging.PageIndex ? "active-pagination1" : "")">
										@i
									</a>
								}

								<!-- Right Arrow for Next Page -->
								@if (ViewBag.Paging.HasNextPage)
								{
									<a href="?category=@ViewBag.SearchCategory&menu=@ViewBag.Menu&price=@ViewBag.Price&sort=@ViewBag.Sort&color=@ViewBag.Color&pageIndex=@(ViewBag.Paging.PageIndex + 1)"
									   class="flex-c-m how-pagination1 trans-04 m-all-7">
										<i class="zmdi zmdi-arrow-right"></i>
									</a>
								}
								else
								{
									<span class="flex-c-m how-pagination1 trans-04 m-all-7">
										<i class="zmdi zmdi-arrow-right"></i>
									</span>
								}
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>