@{
    ViewData["Title"] = "Crytal Eyes | Thông tin";
    Layout = "_CustomerLayout";
}

<!-- Title page -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Thông tin tài khoản
		</span>
	</div>
</div>


<!-- Content page -->
<section class="bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="flex-w flex-tr justify-content-center" style="gap: 40px;">
			<div class="size-150 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md custom-rounded-s-small">
					<div class="text-center m-b-20">
						<img src="@ViewBag.User.Image" alt="AVATAR" class="bor0" style="width: 100px;">
					</div>
					<div class="text-center m-b-20">
						<span class="mtext-110 cl2">
							@ViewBag.User.Name
						</span>
					</div>
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212">
							<span class="mtext-110 cl2">
								Số điện thoại
							</span>

							<p class="stext-115 cl1 size-213 p-t-10">
							@ViewBag.User.Phone
							</p>
						</div>
					</div>
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212">
							<span class="mtext-110 cl2">
								Email
							</span>

							<p class="stext-115 cl1 size-213 p-t-10">
								@ViewBag.Email
							</p>
						</div>
					</div>
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212">
							<span class="mtext-110 cl2">
								Địa chỉ
							</span>

							<p class="stext-115 cl6 size-213 p-t-10">
								@ViewBag.User.Address
							</p>
						</div>
					</div>
			</div>

			<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md custom-rounded-s-small">
				<div class="text-center m-b-28">
					<span class="mtext-110 cl2" style="font-size: 28px;">
						Thông tin
					</span>
				</div>
				<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
					<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="name"
						   placeholder="Tên người dùng" value="@ViewBag.User.Name" readonly>
					<span class="zmdi zmdi-account how-pos4 pointer-none"></span>
				</div>
				<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
					<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="date" name="dob"
						   placeholder="Sinh nhật" value="@ViewBag.User.Dob.ToString("yyyy-MM-dd")">
					<span class="lnr lnr-clock how-pos4 pointer-none"></span>
				</div>
				<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
					<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="phone"
						   placeholder="Số điện thoại" value="@ViewBag.User.Phone" readonly>
					<span class="lnr lnr-phone-handset how-pos4 pointer-none"></span>
				</div>
				<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
					<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email"
						   placeholder="Email" value="@ViewBag.Email" readonly>
					<span class="lnr lnr-envelope how-pos4 pointer-none"></span>
				</div>
				<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
					<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="address"
						   placeholder="Địa chỉ" value="@ViewBag.User.Address" readonly>
					<span class="lnr lnr-map-marker how-pos4 pointer-none"></span>
				</div>
				<div class="m-b-20 how-pos4-parent">
					<p class="stext-115 cl6 size-213">
						Lưu ý: bạn không thể thay đổi email.
					</p>
				</div>
				<a href="/customer/edit-profile" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
					Thay đổi thông tin
				</a>
			</div>
		</div>
	</div>
</section>	