@{
    ViewData["Title"] = "Crytal Eyes | Trang chủ";
	Layout = "_CustomerLayout";
}

<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
	<div class="s-full js-hide-cart"></div>

	<div class="header-cart flex-col-l p-l-65 p-r-25">
		<div class="header-cart-title flex-w flex-sb-m p-b-8">
			<span class="mtext-103 cl2">
				Giỏ hàng
			</span>

			<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
				<i class="zmdi zmdi-close"></i>
			</div>
		</div>

			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
				@if(ViewBag.Carts != null)
				{
					@foreach (var item in ViewBag.Carts as List<CartViewDto>)
					{
						<li class="header-cart-item flex-w flex-t m-b-12 custom-rounded">
							<div class="header-cart-item-img">
								<img src="@item.MainImage" alt="IMG">
							</div>

							<div class="header-cart-item-txt p-t-8">
								<a href="/product-detail/@item.ProductId" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
									@item.Name
								</a>

								<span class="header-cart-item-info">
									@item.Quantity x $@item.Price.ToString("F2")
								</span>
							</div>
						</li>
					}
				}
				</ul>

				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Tổng tiền: @ViewBag.TotalAmount
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/customer/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Đặt hàng ngay
						</a>
					</div>
				</div>
			</div>
	</div>
</div>


	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url('@Url.Content("~/customersite/images/banner.png")');">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Khám Phá Bộ Sưu Tập Mới
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Crystal Eyes
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Mua Sắm Ngay
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<div class="sec-banner bg0 p-t-95 p-b-55">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/customersite/images/subbannerright.png" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Nữ
							</span>

							<span class="block1-info stext-102 trans-04">
								New Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Mua ngay
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/customersite/images/subbannerleft.jpg" alt="IMG-BANNER">

					<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Nam
							</span>

							<span class="block1-info stext-102 trans-04">
								New Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Mua ngay
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/customersite/images/left.png" alt="IMG-BANNER">

					<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Titan
							</span>

							<span class="block1-info stext-102 trans-04">
								Bộ sưu tập <script>document.write(new Date().getFullYear());</script>
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Mua ngay
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/customersite/images/mid.png" alt="IMG-BANNER">

					<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Nhựa dẻo
							</span>

							<span class="block1-info stext-102 trans-04">
								Bộ sưu tập <script>document.write(new Date().getFullYear());</script>
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Mua ngay
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="/customersite/images/right.png" alt="IMG-BANNER">

					<a href="/shop" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Kim loại
							</span>

							<span class="block1-info stext-102 trans-04">
								Bộ sưu tập  <script>document.write(new Date().getFullYear());</script>
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Mua ngay
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="sec-product bg0 p-b-50">
	<div class="container">
		<div class="p-b-32">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Sản phẩm của chúng tôi
			</h3>
		</div>

		<!-- Tab01 -->
		<div class="tab01">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item p-b-10">
					<a class="nav-link active" data-toggle="tab" role="tab">Bán chạy nhất</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content p-t-50">
				<!-- - -->
				<div class="tab-pane fade show active" role="tabpanel">
					<!-- Slide2 -->
					<div class="wrap-slick2">
						<div class="slick2">
							@if (ViewBag.Products != null && ViewBag.Products.Count > 0)
							{
								@foreach (var item in ViewBag.Products as List<ProductViewDto>)
								{
									<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
										<!-- Block2 -->
										<div class="block-2">
											<div class="block2-pic hov-img0 custom-rounded-medium label-discount"
												 data-label="Giảm @(item.Discount.HasValue ? (item.Discount % 1 == 0 ? Math.Floor(item.Discount.Value).ToString("F0") : item.Discount.Value.ToString("F2")) : "0")%">
												<img src="@item.MainImage"
													 class="img-fluid rounded" alt="IMG-PRODUCT">
											</div>

											<div class="block2-txt flex-w flex-t p-t-14">
												<div class="block2-txt-child1 flex-col-l">
													<a href="/product-detail/@item.ProductId" style="font-size: 18px;" class="stext-110 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
														@item.Name
													</a>

													@if (item.Discount > 0)
													{
														<div class="price-container">
															<span class="stext-105 cl3 old-price formatprice">@item.Price</span>
															<span class="stext-105 cl3 current-price formatprice" style="font-size: 18px;">@(item.Price * (100 - item.Discount) / 100)</span>
														</div>
													}
													else
													{
														<div class="price-container">
															<span class="stext-105 cl3 current-price formatprice" style="font-size: 18px;">@item.Price</span>
														</div>
													}
												</div>

												<div class="block2-txt-child2 flex-r p-t-3">
													@if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn == true && ViewBag.RoleName == Constants.Role_Name.CUSTOMER)
													{
														<div class="btn-addwish-b2 dis-block pos-relative addwishlist @(item.IsWishlist == true ? "js-addedwish-b2" : "js-addwish-b2")"
															 data-product-id="@item.ProductId"
															 data-user-id="@ViewBag.UserId">
															<img class="icon-heart1 dis-block trans-04" src="~/customersite/images/icons/icon-heart-01.png" alt="ICON">
															<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/customersite/images/icons/icon-heart-02.png" alt="ICON">
														</div>
													}
												</div>
											</div>
										</div>
									</div>
								}
							}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Blog -->
<section class="sec-blog bg0 p-t-40 p-b-90">
	<div class="container">
		<div class="p-b-66">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Liên hệ
			</h3>
		</div>
		<div class="row">
			<div class="col-md-6 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w custom-rounded-s-small-button">
					<img src="/customersite/images/owner.jpg" alt="IMG-BANNER" class="custom-rounded-s-small-button">

					<a href="https://www.instagram.com/dovandaatt/" target="_blank" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								dovandaatt
							</span>

							<span class="block1-info stext-102 trans-04">
								@@ashin
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Visit Instagram
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

@if (ViewBag.MainScreen != null && (bool)ViewBag.MainScreen)
{
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const element = document.getElementById("mainScreen");
			if (element) {
				element.scrollIntoView();
			}
		});
	</script>
}
