<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/customersite/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/customersite/css/main.css">
	<link rel="stylesheet" href="~/customersite/font/font.css">
	<style type="text/css">
		body {
			font-family: 'coolveticarg' !important;
		}
	</style>
	<!--===============================================================================================-->
</head>
<body class="animsition">

	<header class="@(ViewBag.Title == "Crytal Eyes | Trang chủ" ? "" : "header-v4")">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<span class="cl2 fw-bolder">Crystal Eyes</span>
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Trang chủ</a>
							</li>
							<li class="label1" data-label1="hot">
								<a href="/shop">Cửa hàng</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">

						@if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn == true && ViewBag.RoleName == Constants.Role_Name.CUSTOMER)
						{
							<div class="icon-header-item cl2 hov-cl1 trans-04">
								<ul class="main-menu">
									<li class="active-menu">
										<a href="/customer/profile"><i class="zmdi zmdi-account icon-header-item cl2"></i></a>
										<ul class="sub-menu">
											<li><a href="/customer/profile">Tài khoản của tôi</a></li>
											<li><a href="/customer/history-order">Lịch sử đơn hàng</a></li>
											<li><a href="/customer/change-password">Đổi mật khẩu</a></li>
											<li><a href="/logout">Đăng xuất</a></li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@ViewBag.TotalCart">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>

							<a href="/customer/wish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="@ViewBag.TotalWishList">
								<i class="zmdi zmdi-favorite-outline"></i>
							</a>
						}
						else
						{
							<div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<a href="/login" class="cl2 hov-cl1 trans-04">
									Đăng nhập
								</a>
								<span>/</span>
								<a href="/register" class="cl2 hov-cl1 trans-04">
									Đăng ký
								</a>
							</div>
						}
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<span class="cl2">Crystal Eyes</span>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">

				@if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn == true && ViewBag.RoleName == Constants.Role_Name.CUSTOMER)
				{

					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="@ViewBag.TotalCart">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>

					<a href="/customer/wish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="@ViewBag.TotalWishList">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>

					<!-- Button show menu -->
					<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</div>

				}
				else
				{
					<div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11">
						<a href="/login" class="cl2 hov-cl1 trans-04">
							Đăng nhập
						</a>
						<span>/</span>
						<a href="/register" class="cl2 hov-cl1 trans-04">
							Đăng ký
						</a>
					</div>
				}

			</div>


		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/customer/profile"><i class="zmdi zmdi-account icon-header-item cl0"></i></a>
					<ul class="sub-menu-m">
						<li><a href="/customer/profile">Tài khoản của tôi</a></li>
						<li><a href="/customer/history-order">Lịch sử đơn hàng</a></li>
						<li><a href="/customer/change-password">Đổi mật khẩu</a></li>
						<li><a href="/logout">Đăng xuất</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="/">Trang chủ</a>
				</li>
				<li>
					<a href="/shop" class="label1 rs1" data-label1="hot">Cửa hàng</a>
				</li>

			</ul>
		</div>
	</header>

    @RenderBody()

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32 custom-rounded-small">
		<div class="container rounded-4">
			<div class="">
				<p class="stext-107 cl6 txt-center">
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">ashin</a></a>
				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


	@await RenderSectionAsync("Scripts", required: false)

	<!--===============================================================================================-->
	<script src="~/customersite/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/bootstrap/js/popper.js"></script>
	<script src="~/customersite/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/customersite/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/slick/slick.min.js"></script>
	<script src="~/customersite/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled:true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/js/main.js"></script>
</body>
</html>
