<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/customersite/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/customersite/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/customersite/css/main.css">
	<link rel="stylesheet" href="~/customersite/font/font.css">
	<style type="text/css">
		body {
			font-family: 'coolveticarg' !important;
		}
	</style>
	<!--===============================================================================================-->
</head>
<body class="animsition">

	<header class="@(ViewBag.Title == "Crytal Eyes | Trang chủ" ? "" : "header-v4")">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop @(ViewBag.Title == "Crytal Eyes | Trang chủ" ? "" : "how-shadow1")">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<span class="cl2 fw-bolder">Crystal Eyes</span>
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="@(ViewBag.Title == "Crytal Eyes | Trang chủ" ? "active-menu" : "")">
								<a href="/">Trang chủ</a>
							</li>
							<li class="label1 @(ViewBag.Title == "Crytal Eyes | Cửa hàng" ? "active-menu" : "")" data-label1="hot">
								<a href="/shop">Cửa hàng</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">

						@if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn == true && ViewBag.RoleName == Constants.Role_Name.CUSTOMER)
						{
							<div class="icon-header-item cl2 hov-cl1 trans-04">
								<ul class="main-menu">
									<li class="active-menu">
										<a href="/customer/profile"><i class="zmdi zmdi-account icon-header-item cl2"></i></a>
										<ul class="sub-menu">
											<li><a href="/customer/profile">Tài khoản của tôi</a></li>
											<li><a href="/customer/history-order">Lịch sử đơn hàng</a></li>
											<li><a href="/customer/change-password">Đổi mật khẩu</a></li>
											<li><a href="/logout">Đăng xuất</a></li>
										</ul>
									</li>
								</ul>
							</div>

							<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@ViewBag.TotalCart">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>

							<a href="/wish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti totalWishlistData" data-notify="@ViewBag.TotalWishList">
								<i class="zmdi zmdi-favorite-outline"></i>
							</a>
						}
						else
						{
							<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@ViewBag.TotalCart">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>

							<a href="/wish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti totalWishlistData" data-notify="@ViewBag.TotalWishList">
								<i class="zmdi zmdi-favorite-outline"></i>
							</a>

							<div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<a href="/login" class="cl2 hov-cl1 trans-04">
									Đăng nhập
								</a>
								<span>/</span>
								<a href="/register" class="cl2 hov-cl1 trans-04">
									Đăng ký
								</a>
							</div>
						}
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<span class="cl2">Crystal Eyes</span>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">

				@if (ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn == true && ViewBag.RoleName == Constants.Role_Name.CUSTOMER)
				{

					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="@ViewBag.TotalCart">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>

					<a href="/customer/wish-list" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="@ViewBag.TotalWishList">
						<i class="zmdi zmdi-favorite-outline"></i>
					</a>

					<!-- Button show menu -->
					<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</div>

				}
				else
				{
					<div class="cl2 hov-cl1 trans-04 p-l-22 p-r-11">
						<a href="/login" class="cl2 hov-cl1 trans-04">
							Đăng nhập
						</a>
						<span>/</span>
						<a href="/register" class="cl2 hov-cl1 trans-04">
							Đăng ký
						</a>
					</div>
				}
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="/customer/profile"><i class="zmdi zmdi-account icon-header-item cl0"></i></a>
					<ul class="sub-menu-m">
						<li><a href="/customer/profile">Tài khoản của tôi</a></li>
						<li><a href="/customer/history-order">Lịch sử đơn hàng</a></li>
						<li><a href="/customer/change-password">Đổi mật khẩu</a></li>
						<li><a href="/logout">Đăng xuất</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="/">Trang chủ</a>
				</li>
				<li>
					<a href="/shop" class="label1 rs1" data-label1="hot">Cửa hàng</a>
				</li>

			</ul>
		</div>
	</header>

	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">Giỏ hàng</span>
				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-cart-content flex-w js-pscroll">
				<ul id="cart-container" class="header-cart-wrapitem w-full">
					<!-- Nội dung giỏ hàng sẽ được cập nhật bằng AJAX -->
				</ul>

				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Tổng tiền: <span id="total-amount">0</span>
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Đặt hàng ngay
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


    @RenderBody()

	<!-- Loading Popup Modal -->
	<div id="loading-popup" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); justify-content: center; align-items: center; z-index: 9999;">
		<div style="background: #ffffff; padding: 30px; border-radius: 10px; text-align: center;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" style="width: 100px; height: 100px;">
				<circle fill="#6C7AE0" stroke="#6C7AE0" stroke-width="15" r="15" cx="40" cy="100">
					<animate attributeName="opacity" calcMode="spline" dur="2s" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4s"></animate>
				</circle>
				<circle fill="#6C7AE0" stroke="#6C7AE0" stroke-width="15" r="15" cx="100" cy="100">
					<animate attributeName="opacity" calcMode="spline" dur="2s" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2s"></animate>
				</circle>
				<circle fill="#6C7AE0" stroke="#6C7AE0" stroke-width="15" r="15" cx="160" cy="100">
					<animate attributeName="opacity" calcMode="spline" dur="2s" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0s"></animate>
				</circle>
			</svg>
		</div>
	</div>

	<!-- Your main content goes here -->
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32 custom-rounded-small">
		<div class="container rounded-4">
			<div class="">
				<p class="stext-107 cl6 txt-center">
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">ashin</a></a>
				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>




	<!--===============================================================================================-->
	<script src="~/customersite/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/bootstrap/js/popper.js"></script>
	<script src="~/customersite/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/customersite/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/slick/slick.min.js"></script>
	<script src="~/customersite/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled:true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/customersite/vendor/sweetalert/sweetalert.min.js"></script>
	<script>

		// Show the loading popup
		function showLoadingPopup() {
			document.getElementById('loading-popup').style.display = 'flex';
		}

		// Hide the loading popup
		function hideLoadingPopup() {
			document.getElementById('loading-popup').style.display = 'none';
		}

		$(document).ready(function () {
			$('.addwishlist').on('click', function (e) {
				e.preventDefault();

				const productId = $(this).data('product-id'); // Lấy productId từ data-attribute
				const $this = $(this); // Lưu tham chiếu đến phần tử hiện tại
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();

				showLoadingPopup();

				// Gửi yêu cầu Ajax
				$.ajax({
					url: `/wish-list-process/${productId}`,
					method: "GET",
					success: function (response) {

						hideLoadingPopup();

						// Hiển thị thông báo
						swal(nameProduct, response.message, "success");

						// Cập nhật giao diện icon heart
						if (response.action === "Create") {
							$this.addClass('js-addedwish-b2');
							$this.removeClass('js-addwish-b2');
						} else if (response.action === "Delete") {
							// nếu ở trang /wish-list thì sẽ load lại trang
							if (window.location.pathname === "/wish-list") {
								location.reload();
							}

							$this.addClass('js-addwish-b2');
							$this.removeClass('js-addedwish-b2');
						}

						// Cập nhật số lượng Wishlist trên header
						if (response.totalWishlist !== undefined) {
							const wishlistIcon = document.querySelector('.totalWishlistData');
							wishlistIcon.setAttribute('data-notify', response.totalWishlist);
						}

					},
					error: function () {
						swal("Lỗi", "Đã xảy ra lỗi, vui lòng thử lại sau!", "error");
					}
				});
			});
		});


		$('.addwish-product-detail').on('click', function (e) {
			e.preventDefault();

			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			const productId = $(this).data('product-id'); 
			const $this = $(this); 
			showLoadingPopup();
			// Gửi yêu cầu Ajax
			$.ajax({
				url: `/wish-list-process/${productId}`,
				method: "GET",
				success: function (response) {
					hideLoadingPopup();
					// Hiển thị thông báo
					swal(nameProduct, response.message, "success");

					// Cập nhật giao diện icon heart
					if (response.action === "Create") {
						$this.addClass('js-addedwish-detail');
						$this.removeClass('js-addwish-detail');
					} else if (response.action === "Delete") {
						$this.addClass('js-addwish-detail');
						$this.removeClass('js-addedwish-detail');
					}

					// Cập nhật số lượng Wishlist trên header
					if (response.totalWishlist !== undefined) {
						const wishlistIcon = document.querySelector('.totalWishlistData');
						wishlistIcon.setAttribute('data-notify', response.totalWishlist);
					}

				},
				error: function () {
					swal("Lỗi", "Đã xảy ra lỗi, vui lòng thử lại sau!", "error");
				}
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>

	<!--===============================================================================================-->
	<script src="~/customersite/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Lấy tất cả các phần tử có class "formatprice"
			const priceElements = document.querySelectorAll(".formatprice");

			// Duyệt qua từng phần tử và định dạng giá trị
			priceElements.forEach(element => {
				const value = parseFloat(element.textContent.replace(/,/g, '')); // Chuyển nội dung thành số (loại bỏ dấu phẩy nếu có)
				if (!isNaN(value)) {
					element.textContent = new Intl.NumberFormat('vi-VN', {
						style: 'currency',
						currency: 'VND',
					}).format(value); // Định dạng số sang tiền tệ
				}
			});
		});
	</script>
	<script>
		$(document).on('click', '.btn-num-product-up, .btn-num-product-down', function () {
			const $input = $(this).parent().find('.num-product');
			let currentVal = parseInt($input.val());

			if ($(this).hasClass('btn-num-product-up')) {
				$input.val(currentVal + 1);
			} else {
				$input.val(currentVal > 1 ? currentVal - 1 : 1);
			}
		});
	</script>
	<script>
		$(document).ready(function () {

			function loadCart() {
				$.ajax({
					url: "/cart",
					type: "GET",
					success: function (response) {
						if (!response || !response.items || !Array.isArray(response.items)) {
							console.error("Dữ liệu API không hợp lệ:", response);
							return;
						}

						// Cập nhật số lượng sản phẩm trong icon giỏ hàng
						$(".icon-header-noti.js-show-cart").attr("data-notify", response.items.length);

						let cartHtml = "";
						let totalAmount = 0;

						// Hàm format tiền
						const formatPrice = (price) => {
							return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
						};

						if (response.items.length > 0) {
							response.items.forEach(item => {
								cartHtml += `
									<li class="header-cart-item flex-w flex-t m-b-12 custom-rounded">
										<div class="header-cart-item-img remove-cart-item-session" data-product-id="${item.productId}" data-color="${item.colorId}">
											<img src="${item.mainImage}" alt="IMG">
										</div>
										<div class="header-cart-item-txt p-t-8">
											<a href="/product-detail/${item.productId}" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
												${item.name} - <span style="color: gray;">${item.colorName}</span>
											</a>
											<span class="header-cart-item-info">
													${item.quantity} x ${formatPrice(item.price)}
											</span>
										</div>
									</li>
								`;
							});
							
						} else {
							cartHtml = `<li class="header-cart-item flex-w flex-t m-b-12">Giỏ hàng trống</li>`;
						}
						$("#total-amount").text(formatPrice(response.totalAmount));
						$("#cart-container").html(cartHtml);
					},
					error: function (xhr, status, error) {
						console.error("Lỗi khi tải giỏ hàng!", xhr.responseText);
					}
				});
			}

			loadCart();

			$(".add-to-cart").on("click", function (e) {
				e.preventDefault(); // Ngăn form gửi đi mặc định

				// Lấy productId từ input ẩn
				var productId = $("input[name='product-id-add-cart']").val();

				// Lấy giá trị màu từ select dropdown
				var color = $("select[name='color-id-add-cart']").val();

				// Lấy số lượng từ input number
				var quantity = $("input[name='quantity-add-cart']").val();

				// Kiểm tra xem người dùng đã chọn màu chưa
				if (!color) {
					swal("Lỗi", "Vui lòng chọn màu trước khi thêm vào giỏ hàng!", "error");
					return;
				}

				// Kiểm tra số lượng phải là số hợp lệ
				if (quantity <= 0) {
					swal("Lỗi", "Số lượng phải lớn hơn 0!", "error");
					return;
				}

				var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
				// Gửi yêu cầu AJAX đến server
				$.ajax({
					url: "/cart/add",
					type: "POST",
					data: {
						productId: productId,
						quantity: quantity,
						color: color
					},
					success: function (response) {
						swal(nameProduct, response.message, "success");
						loadCart(); 
					},
					error: function () {
						swal("Lỗi", "Không thể thêm sản phẩm vào giỏ hàng!", "error");
					}
				});
			});

			$("body").on("click", ".remove-cart-item-session", function () {
				var productId = $(this).data('product-id');
				var color = $(this).data('color');

				$.ajax({
					url: "/cart/remove",
					type: "POST",
					data: {
						productId: productId,
						color: color
					},
					success: function (response) {
						if (response.success) {
							swal("Thông báo", response.message, "success");
							loadCart();
						}
					},
					error: function () {
						alert("Lỗi khi xóa sản phẩm khỏi giỏ hàng!");
					}
				});
			});

		});

	</script>
	<script src="~/customersite/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
